<!-- <div class="jumbotron">  -->
<h1 class="text-center">Airlines</h1>
<form ng-submit="submit()">
  <div class="form-group">
    <div class="row">
      <div class="container">
        <div class="col-md-4">    
          <label for="Source">Source</label>
          <!-- <input type="text" class="form-control" ng-model="source" id="source" placeholder="Source"> -->
          <select ng-model="sources"  class="form-control" ng-options="content.From as content.From for content in contents | unique:'From'">
          <!-- <select ng-model="dest.source"  class="form-control">
            <option value=""></option>
            <option ng-repeat="content in contents" value="{{content.From}}">{{content.From}}</option>
          </select> -->
          </select>
        </div>
        <div class="col-md-1"><i class="fa fa-exchange fa-2x" aria-hidden="true"></i></div>
        <div class="col-md-4">
          <label for="destination">Destination</label>
          <!-- <input type="text" class="form-control" ng-model="destination" id="destination" placeholder="Destination"> -->
           <select ng-model="destination" class="form-control" ng-options="content.To as content.To for content in contents | unique:'To'">
          </select>
          <!-- <select ng-model="dest.source"  class="form-control">
            <option value=""></option>
            <option ng-repeat="content in contents" value="{{content.To}}">{{content.To}}</option>
          </select> -->
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="container">
        <div class="col-md-4">
          <label for="seats">No. of seats</label>
          <input type="text" class="form-control" ng-model="seats" id="seats" placeholder="seats">
        </div>
         <div class="col-md-1"></div>
        <div class="col-md-4">
             <label for="seats">Journey Date</label>
          <div class="input-group">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default bcc" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
            </span>
            <input type="date" class="form-control col-md-2 ccc" uib-datepicker-popup="{{format}}" ng-model="date" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" placeholder="DD/MM/YY" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- <div class="container"> -->
      <div class="col-md-offset-8">
        <input type="submit" ng-click="submit()" value="Submit" class="btn btn-primary" />
      </div>
    <!-- </div> -->
  </div>  
</form>
<!-- </div>